*{
    margin: 0;
    padding: 0;           
}

body{
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
    font-family: 'Nunito', sans-serif;
    margin: 0 10%;
    
}

.container{
    display: flex;
    flex-direction: column;    
    padding: 0 10%;
    height: 100vh;
    background: #f6f9fe;
    border-radius: 10px;
}

header{
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    height: 120px;
}

.nav-bar ul{
    display: flex;    
}

.nav-bar ul li{
    list-style: none;
    padding: 15px 20px; 
    border-radius: 5px;
    color: #353252;         
}

.nav-bar ul a:link, 
.nav-bar ul a:visited, 
.nav-bar ul a:active{
    text-decoration: none;
}

.nav-bar ul li:hover{
    background: #353252;
    color: #fff;
    cursor: pointer;
}

#join-wait{
    background: #353252;
    color:#f6f9fe;
}

main{
    display: flex;
    flex: 1; 
    justify-content: space-between;
    align-items: stretch;
    margin: 40px 0;  
}

.content{
   margin-right: 20px;
}

.content-img{
   
}

.content h1, h5, form{
    margin-top: 10px;    
}

.content h5{
    display: inline-block;
    padding: 8px 20px;
    background-color: #372865;
    color: #fff;
    border-radius: 20px;
}

.content h1{
    font-size: 3em;
    
}

.content p{
    font-size: 1.5rem;
}

.form-email{
    padding: 20px 100px 20px 15px;
    border: 2px;    
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1em;
}

.form-button{
    background: #372865;
    color: #fff;
    padding: 20px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

main img{    
   width: 400px;
}

@media (max-width: 1400px)
{
    .content-img{
        display: none;
    }
}