*{
    margin: 0;
    padding: 0;       
}

body{
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
    font-family: 'Nunito sans', sans-serif;
    background: #f6f9fe;
    color: #353252;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10%;
}

header{
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    height: 100px;
}

.nav-bar ul{
    display: flex;    
}

.nav-bar ul li{
    list-style: none;
    padding: 15px 20px; 
    border-radius: 5px;
    color: #353252;         
}

.nav-bar ul a:link, 
.nav-bar ul a:visited, 
.nav-bar ul a:active{
    text-decoration: none;
}

.nav-bar ul li:hover{
    background: #353252;
    color: #fff;
    cursor: pointer;
}

#join-wait{
    background: #353252;
    color:#f6f9fe;
}

main{
    display: flex;
    justify-content: center;   
    
}

.content h1, h5, form{
    margin-top: 10px;    
}


.content h5{
    display: inline-block;
    padding: 5px 15px;
    background-color: #372865;
    color: #fff;
    border-radius: 15px;
}

.form-email, .form-button{
    padding: 10px 20px;
}

main img{
    width: 200px;
    height: 200px;
}
